<!-- quality-gates-modal.html -->
<abp-modal [(visible)]="visible" (visibleChange)="onVisibleChange($event)" (appear)="onAppear()"
    [options]="{ size: 'md', modalClass: 'quality-gates-modal', backdrop: 'static', keyboard: false, animation: true  }">

    <ng-template #abpHeader>
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex flex-column">
                <div class="modal-title-line">
                <span class="h2">{{ vin ?? '-' }}</span>
                <span class="ms-2">{{ '::QualityGates' | abpLocalization }}</span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>
        @if (loading) {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        }
        
        <ng-container *ngIf="!loading && resolvedCarBayId">
            <!-- IMPORTANT: layout="modal" -->
            <!-- <div style="min-height: 400px;"> -->
            <div>
                <app-quality-gates [carBayId]="resolvedCarBayId" layout="modal" (saved)="onSaved()"></app-quality-gates>
            </div>
        </ng-container>

        <ng-container *ngIf="!loading && !resolvedCarBayId">
            <div class="text-muted p-3">
                {{ '::NoDataFound' | abpLocalization }}
            </div>
        </ng-container>
    </ng-template>

    <ng-template #abpFooter>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary" (click)="close()">
                {{ '::Close' | abpLocalization }}
            </button>
        </div>
    </ng-template>
</abp-modal>