/* You can add global styles to this file, and also import other style files */


:root {
  --lpx-theme-light-bg: url('assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('assets/images/login/login-bg-img-dark.svg');

  --lpx-logo-icon: url('assets/images/logo/logo.png');
  --lpx-logo-url: var(--lpx-logo-icon);
  --lpx-logo: var(--lpx-logo-icon);

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('assets/images/getting-started/x.svg');
  }

  .editable-tag {
    background: #fff;
    border-style: dashed;
    cursor: pointer;
  }


}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

/* styles.scss (GLOBAL) */

/* Target only this modal using modalClass */
.quality-gates-modal {
  /* ABP/Bootstrap modal body often uses overflow-y:auto + max-height */
  .modal-body {
    overflow: visible !important;
    max-height: none !important;
  }

  /* Ensure content can overflow for dropdown */
  .modal-content {
    overflow: visible !important;
  }
}


