<abp-modal [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" (appear)="get()" [options]="modalOptions">
    <ng-template #abpHeader>
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex flex-column">
                <div class="modal-title-line">
                    <span class="h2">{{ vin ?? '-' }}</span>
                    <span class="ms-2">{{ '::Recalls' | abpLocalization }}</span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>

        @if (loading) {
        <div class="text-center py-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        }

        @if (!loading) {

        @if (!rows?.length) {
        <div class="alert alert-info border-0 shadow-sm">
            <i class="fa fa-info-circle me-2"></i> {{ '::NoRecallsFound' | abpLocalization }}
        </div>
        }

        <div [formGroup]="form">
            <div formArrayName="rows">
                @for (fg of rows.controls; track $index) {
                <div class="card border-0 mb-4 mt-2" [formGroupName]="$index">

                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
                        <div class="d-flex align-items-center">
                            @if (fg.get('isExternal')?.value) {
                            <span class="badge bg-warning text-dark rounded-pill me-2">New #{{ $index + 1 }}</span>
                            } @else {
                            <span class="badge bg-primary rounded-pill me-2">#{{ $index + 1 }}</span>
                            }

                            <h6 class="mb-0 fw-bold text-dark">{{ '::Recall' | abpLocalization }}</h6>

                            @if(fg.get('make')?.value || fg.get('manufactureId')?.value) {
                            <span class="text-muted mx-2">|</span>
                            <small class="text-muted fw-semibold text-uppercase">
                                {{ fg.get('make')?.value }}
                                @if(fg.get('make')?.value && fg.get('manufactureId')?.value) { &bull; }
                                {{ fg.get('manufactureId')?.value }}
                            </small>

                            }
                        </div>
                        <app-entity-change-history-modal [entityId]="fg.get('id')?.value" entityName="Recall"></app-entity-change-history-modal>
                    </div>

                    <div>

                        <div class="row g-2 mb-2">
                            <div class="col-md-12">
                                <label class="form-label required">
                                    {{ '::Title' | abpLocalization }}
                                </label>
                                <input class="form-control" formControlName="title"
                                    placeholder="Enter recall title..." />
                            </div>

                            <div class="col-md-12 d-flex align-items-end">
                                <div class="d-flex justify-content-between align-items-center w-100 border rounded px-3"
                                    style="height: 44.5px">
                                    <div class="d-flex align-items-center ">
                                        <span class="form-label small m-0 me-3">{{ '::Status' | abpLocalization
                                            }}:</span>

                                        <div class="form-check form-check-inline m-0 me-3">
                                            <input class="form-check-input" type="radio" [value]="RecallStatus.Pending"
                                                formControlName="status" id="st_p_{{$index}}" style="cursor: pointer;">
                                            <label class="form-label form-check-label m-0" for="st_p_{{$index}}"
                                                style="cursor: pointer;">
                                                {{ '::Enum:RecallStatus.1' | abpLocalization }}
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline m-0">
                                            <input class="form-check-input" type="radio"
                                                [value]="RecallStatus.Completed" formControlName="status"
                                                id="st_c_{{$index}}" style="cursor: pointer;">
                                            <label class="form-label form-check-label m-0" for="st_c_{{$index}}"
                                                style="cursor: pointer;">
                                                {{ '::Enum:RecallStatus.2' | abpLocalization }}
                                            </label>
                                        </div>
                                    </div>

                                    <div class="h-100 border-start"></div>

                                    <div class="form-check form-switch m-0 align-items-center">
                                        <input class="form-check-input" type="checkbox" formControlName="isCsp"
                                            id="csp_{{$index}}" style="cursor: pointer;">
                                        <label class="form-label form-check-label m-0" for="csp_{{$index}}"
                                            style="cursor: pointer;">
                                            {{ '::MarkAsCsp' | abpLocalization }}
                                        </label>
                                    </div>

                                    <div class="h-100 border-start"></div>
                                    
                                    <div class="d-flex align-items-center ">
                                        <span class="form-label small m-0 me-3">{{ '::Attachments' | abpLocalization
                                            }}:
                                        </span>
                                        
                                        <app-file-upload-modal
                                        [title]="('::Attachments' | abpLocalization) + ' - ' + fg.get('title').value"
                                        [tempFiles]="fg.get('tempFiles').value"
                                        (tempFilesChange)="fg.get('tempFiles').setValue($event); fg.markAsDirty()"
                                        [existingFiles]="fg.get('existingFiles').value"
                                        (existingFilesChange)="fg.get('existingFiles').setValue($event); fg.markAsDirty()"
                                        modalSize="lg">
                                    </app-file-upload-modal>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="row g-2 mb-3">
                            <div class="col-md-6">
                                <label class="form-label">
                                    {{ '::RiskDescription' | abpLocalization }}
                                </label>
                                <textarea class="form-control" rows="2" formControlName="riskDescription"
                                    style="resize: none;"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">
                                    {{ '::Notes' | abpLocalization }}
                                </label>
                                <textarea class="form-control" rows="2" formControlName="notes"
                                    style="resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </ng-template>

    <ng-template #abpFooter>
        <button abpClose type="button" class="btn btn-outline-primary me-2 px-3">
            {{ '::Close' | abpLocalization }}
        </button>

        @if(rows?.length){
        <button type="submit" class="btn btn-primary px-3" [disabled]="!form?.valid || saving" (click)="save()">
            <i class="fas fa-save me-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
        }

    </ng-template>
</abp-modal>