<abp-modal [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" (appear)="appear()" (disappear)="disappear()"
    [options]="modalOptions">
    <ng-template #abpHeader>
        @if (car?.vin) {
        <h3 class="text-dark m-0">{{ '::IssuesModalHeading' | abpLocalization:car.vin }}</h3>
        }
    </ng-template>
    <ng-template #abpBody>
        @if (loading) {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        } @else {
        <h5>
            {{ (missingOrBrokenItemsCount
            ? '::Issue:UnresolvedBrokenOrMissingPartCount'
            : '::Issue:UnresolvedBrokenOrMissingPartCountIsNone')
            | abpLocalization:missingOrBrokenItemsCount }}
        </h5>
        <app-damage-marker></app-damage-marker>
        <hr>
        <h5>{{ '::IssueList' | abpLocalization }}</h5>
        @if (issues?.length) {
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="5%">{{ '::SrNo' | abpLocalization }}</th>
                        <th>{{ '::Status' | abpLocalization }}</th>
                        <th>{{ '::Type' | abpLocalization }}</th>
                        <th width="50%">{{ '::Description' | abpLocalization }}</th>
                        <th width="5%">{{ '::Logs' | abpLocalization }}</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of issues; track item.srNo) {
                    <tr>
                        <td>{{ item.srNo }}</td>
                        <td><app-issue-status-badge [status]="item.status" /></td>
                        <td>{{ item.type ? (('::Enum:IssueType.' + item.type) | abpLocalization) : '-' }}</td>
                        <td>{{ item.description }}</td>
                        <td class="text-center">
                            <app-entity-change-history-modal [entityId]="item.id" entityName="Issue"></app-entity-change-history-modal>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        @else {
        <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
            [nzNotFoundContent]="'::ClickImageToCreateNewIssue' | abpLocalization">
        </nz-empty>
        }
        }
    </ng-template>
    <ng-template #abpFooter>
        <button abpClose type="button" class="btn btn-outline-primary me-2 px-3">
            {{ '::Close' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>