<div ngbDropdown container="body" class="d-inline-block">
    <button class="ngx-actions-btn" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle>
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
    <div ngbDropdownMenu>
        @if (canAssignBay) {
        <button *abpPermission="'WorkShopManagement.CarBays.Create'" ngbDropdownItem
            (click)="isAssignBayVisible = true">
            {{ '::AssignToBay' | abpLocalization }}
        </button>
        }
        @if (showBayDetails && stage.carBayId) {
        <button ngbDropdownItem *abpPermission="'WorkShopManagement.Cars.Create'"
            (click)="isProductionDetailVisible = true">
            {{ '::Bay' | abpLocalization }}
        </button>
        }
        @if (showMove) {
        <button ngbDropdownItem *abpPermission="'WorkShopManagement.Cars.Edit'" (click)="openMoveStage()">
            {{ '::Move' | abpLocalization }}
        </button>
        }

        @if (showDispatched) {
        <button ngbDropdownItem *abpPermission="'WorkShopManagement.Cars.Edit'" (click)="requestDispatched()">
            {{ '::Dispatched' | abpLocalization }}
        </button>
        }
        @if (showEdit) {
        <button *abpPermission="'WorkShopManagement.Cars.Edit'" ngbDropdownItem (click)="editCar()">
            {{ '::Edit' | abpLocalization }}
        </button>
        }
        @if (showImage) {
        <button *abpPermission="'WorkShopManagement.Cars.Edit'" ngbDropdownItem (click)="openImages()">
            {{ '::Images' | abpLocalization }}
        </button>
        }
        @if (showLogistics) {
        <button *abpPermission="'WorkShopManagement.LogisticsDetails'" ngbDropdownItem (click)="manageLogistics()">
            {{ '::Logistics' | abpLocalization }}
        </button>
        }
        @if (showIssue) {
        <button *abpPermission="'WorkShopManagement.Issues'" ngbDropdownItem (click)="openIssues()">
            {{ '::Issues' | abpLocalization }}
        </button>
        }
    </div>
</div>

<app-production-details-modal [(visible)]="isProductionDetailVisible" [carId]="stage?.carId"
    (stageChanged)="emitChange()"></app-production-details-modal>
<app-car-create-edit-modal [(visible)]="isCarEditModalVisible" [carId]="stage?.carId" (submit)="emitChange()" />
<app-car-images-modal [(visible)]="isImageModalVisible" [carId]="stage?.carId" (submit)="emitChange()" />
<app-issue-modal [(visible)]="isIssueModalVisible" (visibleChange)="isIssueModalVisibleChange.emit($event)"
    [carId]="stage?.carId" (submit)="emitChange()"></app-issue-modal>
<app-assign-bay [(visible)]="isAssignBayVisible" [selected]="stage" (submit)="onAssignBaySubmit()"></app-assign-bay>
<app-change-stage-actions [(visible)]="isChangeStageModalVisible" [carId]="stage?.carId" [carBayId]="stage?.bayId"
    [currentStage]="stage?.stage ?? currentStage" (stageMoved)="onStageMoved()"></app-change-stage-actions>
<app-logistics-details-create-edit [(visible)]="isLogisticsModalVisible" [carId]="stage?.carId"
        [vin]="stage?.vin" (submit)="emitChange()" (close)="isLogisticsModalVisible = false">
