<div class="card">
    <div class="card-body">

        <ngx-datatable [rows]="stages.items" [count]="stages.totalCount" [list]="list" [columnMode]="'force'" default>
            <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <app-production-actions [stage]="row"
                        (change)="list?.get()"></app-production-actions>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Vin' | abpLocalization" prop="vin" [canAutoResize]="false" [width]="150">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="align-items-center d-flex">
                        <a type="button" class="text-primary clickable" (click)="openCheckInModal(row)">
                            <strong>{{ value | slice:-6 }}</strong>
                        </a>
                        <small>
                            <a class="ms-1" [href]="'https://tracking.ausev.com.au/stock?q=' + row.vin" target="_blank">
                                <i class="fas fa-external-link"></i>
                            </a>
                        </small>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Owner' | abpLocalization" prop="ownerName" [canAutoResize]="false" [width]="200"></ngx-datatable-column>

            <ngx-datatable-column [name]="'::Model' | abpLocalization" prop="modelName">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span abpEllipsis>{{ row.modelName }}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Color' | abpLocalization" prop="color" [canAutoResize]="false" [width]="150">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span>{{ row.color | uppercase }}</span>
                </ng-template>

            </ngx-datatable-column>

            <!-- INCOMING / WAREHOUSE -->
            <ngx-datatable-column [name]="'::EtaScd' | abpLocalization" prop="etaScd">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'shortDate' }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Port' | abpLocalization" prop="port">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.port ? ('::Enum:Port.' + row.port | abpLocalization) : '-' }}
                </ng-template>
            </ngx-datatable-column>

            <!-- INCOMING / WAREHOUSE -->

            <!-- ---------- ACTIONS GROUP  --------- -->

            <!-- <ngx-datatable-column [name]="'::Issue' | abpLocalization" [maxWidth]="65" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center text-{{getIssueStatusColor(row)}}">
                        <i class="fas fa-triangle-exclamation link" (click)="openIssueModal()"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column [name]="'::Recalls' | abpLocalization" [canAutoResize]="false" [width]="65" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center text-{{getRecallColor(row)}}">
                        <i class="fas fa-bullhorn link" (click)="openRecallModal(row)"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::Notes' | abpLocalization" [canAutoResize]="false" [width]="65" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center text-{{getNoteColor(row)}}">
                        <i class="fas fa-message link" (click)="openNotesModal(row)"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [name]="'::Est. Release' | abpLocalization" prop="estimatedRelease" [sortable]="false" [canAutoResize]="false" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>

                    <div class="text-center text-{{getEstRelease(row)}}">
                        <i class="fas fa-calendar-alt link" (click)="openEstReleaseModal(row)"></i>
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="'::CRE' | abpLocalization" prop="creStatus" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="badge bg-{{getCreStatusColor(row)}}">
                        {{ row?.creStatus ? ('::Enum:CreStatus.' + row.creStatus | abpLocalization) : '-' }}
                    </div>
                </ng-template>
            </ngx-datatable-column>

            <!-- ---------- ACTIONS GROUP END --------- -->

            <!-- -----INCOMING / WAREHOUSE----- -->
            <ngx-datatable-column [name]="'::BookingNumber' | abpLocalization"
                prop="bookingNumber"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::ClearingAgent' | abpLocalization"
                prop="clearingAgent"></ngx-datatable-column>

            <ngx-datatable-column [name]="'::Modified' | abpLocalization" prop="lastModificationTime" [canAutoResize]="false" [width]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'shortDate' }}
                </ng-template>
            </ngx-datatable-column>

            <!-- ----- INCOMING / WAREHOUSE----- -->
        </ngx-datatable>

    </div>
</div>

    <!-- MODALS -->
    <app-recalls [(visible)]="isRecallModalVisible" [carId]="selected.carId" (submit)="list?.get()" />

    <app-check-in-report-modal [(visible)]="isCheckInModalVisible" [carId]="selected.carId" [carVin]="selected.vin"
        (submit)="list?.get()"></app-check-in-report-modal>
    <app-est-release-modal #estReleaseModal (saved)="list?.get()"></app-est-release-modal>
    <app-car-notes-modal #notesModal (saved)="onNotesSaved($event)"></app-car-notes-modal>
    <!-- MODALS END  -->

    
<!--  ASSIGN CAR BAY MODAL: -->
<abp-modal [(visible)]="isAssignModalVisible" [options]="{ size: 'md' }">
    <ng-template #abpHeader>
        {{ '::AssignToBay' | abpLocalization }}
    </ng-template>

    <ng-template #abpBody>
        <form *ngIf="form" [formGroup]="form" class="row g-3">

            <!-- Bay -->
            <div class="col-12 col-md-12">
                <label class="form-label fw-semibold">
                    {{ '::BayNumber' | abpLocalization }}
                </label>

                <nz-select nzShowSearch nzAllowClear nzSize="large" class="w-100" formControlName="bayId"
                    [nzPlaceHolder]="'::Select' | abpLocalization">
                    <nz-option *ngFor="let option of bayOptions" [nzLabel]="option.displayName"
                        [nzValue]="option.id"></nz-option>
                </nz-select>
            </div>

            <!-- Priority -->
            <div class="col-12 col-md-12">
                <label class="form-label fw-semibold">
                    {{ '::Priority' | abpLocalization }}
                </label>

                <nz-select nzAllowClear nzSize="large" class="w-100" formControlName="priority"
                    [nzPlaceHolder]="'::Select' | abpLocalization">
                    <nz-option *ngFor="let option of priorityOptions" [nzLabel]="('::Enum:Priority.' + option.value | abpLocalization)"
                        [nzValue]="option.value"></nz-option>
                </nz-select>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-secondary" (click)="closeAssignModal()">
            {{ '::Cancel' | abpLocalization }}
        </button>

        <button type="button" class="btn btn-primary" [disabled]="!form || form.invalid" (click)="assignToBay()">
            {{ '::AssignToBay' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>
