<i class="link text-primary" [class]="buttonIcon" aria-hidden="true" (click)="open()"></i>
<!-- </button> -->

<!-- Modal -->
<abp-modal [(visible)]="visible" [options]="{ size: modalSize }">
  <ng-template #abpHeader>
    <div class="fw-bold">{{ title }}</div>
  </ng-template>

  <ng-template #abpBody>
    <app-file-upload [multiple]="multiple" [maxSizeMB]="maxSizeMB" [acceptedTypes]="acceptedTypes"
      [tempFiles]="tempFiles" (tempFilesChange)="onTempFilesChange($event)" [existingFiles]="existingFiles"
      (existingFilesChange)="onExistingFilesChange($event)" [size]="uploadSize"></app-file-upload>
  </ng-template>

  <ng-template #abpFooter>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-primary" (click)="close()">
        Close
      </button>
    </div>
  </ng-template>
</abp-modal>