<abp-page *abpPermission="'WorkShopManagement.CheckLists'">
  <app-topbar-layout titleKey="Menu:CheckLists" [(filters)]="filters" [list]="list" showBackButton (onBack)="goBack()">
    <div topbarActions>
      <ng-container *abpPermission="'WorkShopManagement.CheckLists.Create'">
        <button class="btn btn-sm btn-outline-primary" (click)="createCheckList()">
          <i class="fas fa-plus"></i>
          {{ '::AddNew' | abpLocalization }}
        </button>
      </ng-container>
    </div>
    <!-- List -->
    <div class="card">
      <div class="card-body">
        <ngx-datatable [rows]="checkLists.items" [count]="checkLists.totalCount" [list]="list" default>
          <ngx-datatable-column [sortable]="false" [maxWidth]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="ngx-actions-btn" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <div ngbDropdownMenu>
                  <button *abpPermission="'WorkShopManagement.CheckLists.Edit'" ngbDropdownItem
                    (click)="editCheckList(row.id)">
                    {{ '::Edit' | abpLocalization }}
                  </button>
                  <button *abpPermission="'WorkShopManagement.CheckLists.Delete'" ngbDropdownItem
                    (click)="delete(row.id)">
                    {{ '::Delete' | abpLocalization }}
                  </button>
                  <button *abpPermission="'WorkShopManagement.CheckLists.Delete'" ngbDropdownItem
                    (click)="addListItem(row.id)">
                    {{ '::ListItems' | abpLocalization }}
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <!-- Actions dropdown -->

          <ngx-datatable-column [name]="'::Position' | abpLocalization" prop="position" [maxWidth]="120">
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name">
          </ngx-datatable-column>
          <ngx-datatable-column [name]="'::Images' | abpLocalization" [sortable]="false" [width]="160">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex gap-2 flex-wrap" *ngIf="row?.entityAttachments?.length">
                <ng-container *ngFor="let ea of row.entityAttachments">
                  <img *ngIf="ea?.attachment?.path" nz-image width="60" height="60" [nzSrc]="ea.attachment.path"
                    [alt]="ea?.attachment?.name || 'attachment'" style="object-fit: cover; border-radius: 6px;" />
                </ng-container>
              </div>

              <span class="text-muted" *ngIf="!row?.entityAttachments?.length">-</span>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </app-topbar-layout>
</abp-page>


<!-- Create/Edit Modal (includes attachments now) -->
<abp-modal [(visible)]="isModalOpen" size="lg">
  <ng-template #abpHeader>
    <h3>{{ (selected?.id ? '::EditCheckList' : '::NewCheckList') | abpLocalization }}</h3>
  </ng-template>
  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row g-3">
        <div class="col-12 col-md-8">
          <label class="form-label">
            {{ '::Name' | abpLocalization }} <span class="text-danger">*</span>
          </label>
          <input class="form-control" formControlName="name" />
        </div>
        <div class="col-12 col-md-4">
          <label class="form-label">
            {{ '::Position' | abpLocalization }} <span class="text-danger">*</span>
          </label>
          <input type="number" class="form-control" formControlName="position" min="0" />
        </div>
        <!-- Attachments -->
        <div class="col-12">
          <label class="form-label">{{ '::Attachments' | abpLocalization }}</label>
          <app-file-upload [multiple]="true" [(tempFiles)]="tempFiles" [(existingFiles)]="existingFiles">
          </app-file-upload>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      {{ '::Cancel' | abpLocalization }}
    </button>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="form.invalid || !carModelId">
      <i class="fas fa-check"></i>
      {{ (selected?.id ? '::Update' : '::Save') | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>