<abp-modal [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" (appear)="open()"
    [options]="modalOptions">
    <ng-template #abpHeader>
        <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex flex-column">
                <div class="modal-title-line">
                    <span class="h2">{{ vin ?? '-' }}</span>
                    <span class="ms-2">{{ (isEdit ? '::EditEstimate' : '::NewEstimate') | abpLocalization }}</span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()" *ngIf="form">
            <div class="row g-3">

                @if(isEdit)
                {
                <div class="alert alert-info justify-content-center align-items-center d-flex">
                    <i class="fas fa-info-circle me-2"></i>
                    <small class="">{{ '::DateCannotBeChangedInEdit' | abpLocalization }}</small>

                </div>
                }

                <div>
                    @if (form.errors?.['portAfterScd'] && (form.touched || form.dirty)) {
                    <div class="alert alert-danger">
                        <small>
                            <i class="fas fa-exclamation-circle me-1"></i>
                            {{ '::Logistics:InvalidEtaRange' | abpLocalization }}
                        </small>
                    </div>
                    }

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="form-label required">{{ '::EtaPort' | abpLocalization }}</label>
                            <input class="form-control" formControlName="etaPort" ngbDatepicker #d1="ngbDatepicker"
                                (click)="d1.toggle()" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label class="form-label required">{{ '::EtaScd' | abpLocalization }}</label>
                            <input class="form-control" formControlName="etaScd" ngbDatepicker #d2="ngbDatepicker"
                                (click)="d2.toggle()" />
                        </div>
                    </div>

                </div>



                <div class="col-12">
                    <label class="form-label">{{ '::Notes' | abpLocalization }}</label>
                    <textarea class="form-control" formControlName="notes" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label class="form-label">{{ '::Attachments' | abpLocalization }}</label>
                    <app-file-upload [multiple]="true" [(tempFiles)]="tempFiles"
                        [(existingFiles)]="existingFiles"></app-file-upload>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary me-2 px-3" (click)="close()">
            {{ '::Close' | abpLocalization }}
        </button>
        <button *abpPermission="'WorkShopManagement.ArrivalEstimates.Create'" type="button" class="btn btn-primary px-3" [disabled]="form.invalid || loading" (click)="save()">
            <i class="fas fa-save me-1"></i> 
            {{ (estimateId ? '::Update' : '::Create') | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>