@if(!hasLoggedIn){
<div class="row mb-3">
  <div class="w-50 d-flex">
    <div class="card h-lg-100 w-100 overflow-hidden">
      <div class="card-body">
        <div class="starting-content pe-5">
          <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
            <i class="fa fa-sign-in"></i>
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
}
@else{
<div class="carousel-shell">
  <img [src]="'assets/images/logo/logo.png'" alt="SCD Direct" class="carousel-logo" />

  <ngb-carousel class="app-carousel" [interval]="3000" [pauseOnHover]="false">
    @for (image of images; track image) {
    <ng-template ngbSlide>
      <div class="slide-wrapper">
        <img [src]="image" alt="slide" class="slide-img" />
      </div>
    </ng-template>
    }
  </ngb-carousel>
</div>

}