@if(!hasLoggedIn){
<div class="row mb-3">
  <div class="w-50 d-flex">
    <div class="card h-lg-100 w-100 overflow-hidden">
      <div class="card-body">
        <div class="starting-content pe-5">

          <!-- <h3>Welcome</h3>
          <p class="lead text-muted mb-2">
            {{ '::LongWelcomeMessage' | abpLocalization }}
          </p> -->
          <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
            <i class="fa fa-sign-in"></i>
            {{ 'AbpAccount::Login' | abpLocalization }}
          </a>
        </div>
        <!-- <img class="card-bg-image" src="assets/images/getting-started/bg-01.png" /> -->
      </div>
    </div>
  </div>
</div>
}
@else{
<nz-carousel nzAutoPlay [nzEffect]="effect" [nzEnableSwipe]="false" [nzAutoPlaySpeed]="4000" [nzDots]="false" >
  @for (image of images; track image) {
  <div nz-carousel-content style="height: 800px;">
    <img [src]="image" alt="Banner" style="width: 100%; height: 100%; object-fit: cover; display: block;" />
  </div>
  }

</nz-carousel>
}