<!-- list-item.html -->
<abp-page *abpPermission="'WorkShopManagement.ListItems'">
    <app-topbar-layout titleKey="Menu:ListItems" [(filters)]="filters" [list]="list" showBackButton (onBack)="goBack()">
        <div topbarActions>
            <ng-container *abpPermission="'WorkShopManagement.CheckLists.Create'">
                <button class="btn btn-sm btn-outline-primary" (click)="createListItem()">
                    <i class="fas fa-plus"></i>
                    {{ '::AddNew' | abpLocalization }}
                </button>
            </ng-container>
        </div>
        <div class="card">
            <div class="card-body">
                <ngx-datatable [rows]="listItems.items" [count]="listItems.totalCount" [list]="list" default>
                    <ngx-datatable-column [sortable]="false" [maxWidth]="50">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div ngbDropdown container="body" class="d-inline-block">
                                <button class="ngx-actions-btn" data-toggle="dropdown" aria-haspopup="true"
                                    ngbDropdownToggle>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <div ngbDropdownMenu>
                                    <button *abpPermission="'WorkShopManagement.Cars.Edit'" ngbDropdownItem
                                        (click)="edit(row.id)">
                                        {{ '::Edit' | abpLocalization }}
                                    </button>
                                    <button *abpPermission="'WorkShopManagement.Cars.Delete'" ngbDropdownItem
                                        (click)="delete(row.id)">
                                        {{ '::Delete' | abpLocalization }}
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [name]="'::Position' | abpLocalization" prop="position"
                        [maxWidth]="120"></ngx-datatable-column>
                    <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"></ngx-datatable-column>

                    <ngx-datatable-column [name]="'::CommentType' | abpLocalization">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <ng-container *ngIf="row?.commentType != null; else noValue">
                                {{ ('::Enum:CommentType.' + row.commentType) | abpLocalization }}
                            </ng-container>
                            <ng-template #noValue>-</ng-template>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [name]="'::CommentPlaceholder' | abpLocalization" prop="commentPlaceholder">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row?.commentPlaceholder ? row.commentPlaceholder : '-' }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [name]="'::IsSeparator' | abpLocalization" [maxWidth]="140">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.isSeparator ? ('::Yes' | abpLocalization) : ('::No' | abpLocalization) }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [name]="'::IsAttachmentRequired' | abpLocalization" [maxWidth]="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.isAttachmentRequired ? ('::Yes' | abpLocalization) : ('::No' | abpLocalization) }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [name]="'::Images' | abpLocalization" [sortable]="false" [width]="160">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div class="d-flex gap-2 flex-wrap" *ngIf="row?.entityAttachments?.length">
                                <ng-container *ngFor="let ea of row.entityAttachments">
                                    <img *ngIf="ea?.attachment?.path" nz-image width="60" height="60"
                                        [nzSrc]="ea.attachment.path" [alt]="ea?.attachment?.name || 'attachment'"
                                        style="object-fit: cover; border-radius: 6px;" />
                                </ng-container>
                            </div>

                            <span class="text-muted" *ngIf="!row?.entityAttachments?.length">-</span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </app-topbar-layout>
</abp-page>


<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selected?.id ? '::EditListItem' : '::NewListItem') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="row g-3">
                <div class="col-12 col-md-8">
                    <label class="form-label">
                        {{ '::Name' | abpLocalization }} <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="name" />
                </div>

                <div class="col-12 col-md-4">
                    <label class="form-label">
                        {{ '::Position' | abpLocalization }} <span class="text-danger">*</span>
                    </label>
                    <input type="number" class="form-control" formControlName="position" min="0" />
                </div>

                <div class="col-12 col-md-6">
                    <label class="form-label">
                        {{ '::CommentType' | abpLocalization }} <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" formControlName="commentType">
                        <option *ngFor="let o of commentTypes" [ngValue]="o.value">
                            {{ ('::Enum:CommentType.' + o.value) | abpLocalization }}
                        </option>
                    </select>
                </div>

                <div class="col-12 col-md-6">
                    <label class="form-label">{{ '::CommentPlaceholder' | abpLocalization }}</label>
                    <input type="text" class="form-control" formControlName="commentPlaceholder" />
                    <small class="text-muted">{{ '::DefaultSameAsName' | abpLocalization }}</small>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" formControlName="isSeparator"
                            id="isSeparator" />
                        <label class="form-check-label" for="isSeparator">
                            {{ '::IsSeparator' | abpLocalization }}
                        </label>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" formControlName="isAttachmentRequired"
                            id="isAttachmentRequired" />
                        <label class="form-check-label" for="isAttachmentRequired">
                            {{ '::IsAttachmentRequired' | abpLocalization }}
                        </label>
                    </div>
                </div>

                <!-- Attachments -->
                <div class="col-12">
                    <label class="form-label">{{ '::Attachments' | abpLocalization }}</label>
                    <app-file-upload [multiple]="true" [(tempFiles)]="tempFiles" [(existingFiles)]="existingFiles">
                    </app-file-upload>
                </div>

            </div>

            <hr class="my-3" />

            <!-- Radio Options only when list-item exists -->
            <!-- Radio Options only when list-item exists -->
            <div class="row g-2" *ngIf="selected?.id">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="m-0">{{ '::RadioOptions' | abpLocalization }}</h6>
                    </div>
                </div>

                <div class="col-12 form-control">
                    <!-- Existing (DB) tags -->
                    <ng-container *ngFor="let o of radioOptions">
                        <nz-tag nzMode="closeable" [nzClosable]="!isRadioBusy" (nzOnClose)="removeDbTag(o)">
                            {{ o.name }}
                        </nz-tag>
                    </ng-container>

                    <!-- Pending tags -->
                    <ng-container *ngFor="let n of pendingRadioNames">
                        <nz-tag nzMode="closeable" [nzClosable]="!isRadioBusy" (nzOnClose)="removePendingTag(n)">
                            {{ n }} <span class="ms-1 badge bg-warning text-dark">Pending</span>
                        </nz-tag>
                    </ng-container>

                    <!-- Add new tag -->
                    <ng-container *ngIf="!tagInputVisible; else tagInputTpl">
                        <nz-tag class="editable-tag" (click)="showTagInput()">
                            <nz-icon nzType="plus"></nz-icon>
                            {{ '::Add' | abpLocalization }}
                        </nz-tag>
                    </ng-container>

                    <ng-template #tagInputTpl>
                        <input #tagInputEl nz-input nzSize="small" type="text" [(ngModel)]="tagInputValue"
                            [ngModelOptions]="{ standalone: true }" style="width: 140px;" [disabled]="isRadioBusy"
                            (blur)="confirmTagInput()" (keydown.enter)="confirmTagInput()" />
                    </ng-template>

                    <small class="text-muted d-block mt-2" *ngIf="pendingRadioNames?.length">
                        Pending options will be saved only when you click Save/Update.
                    </small>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
            {{ '::Cancel' | abpLocalization }}
        </button>

        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="form?.invalid || !checkListId">
            <i class="fas fa-check"></i>
            {{ (selected?.id ? '::Update' : '::Save') | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>