::ng-deep.lpx-content {
    padding: 0 !important;
}

.app-topbar {
    box-shadow: 0 1px 3px rgba(15, 23, 42, 0.32);
    padding: 0.85em 2em;
    background-color: #fff;
}

.app-topbar-filter-section {
    transition: max-height 0.3s ease, padding-top 0.3s ease, padding-bottom 0.3s ease;
    overflow: hidden;
    max-height: 500px;
}

.app-topbar-filter-section.collapsed {
    border: 0 !important;
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.app-search-container {
    position: relative;

    input.form-control {
        min-width: 250px;
    }

    i.fas.fa-search {
        position: absolute;
        top: 9px;
        right: 10px;
        cursor: pointer;
        color: var(--brand-secondary);
    }
}

.app-content {
    padding: 1.25em 2em 3em;
    margin: 0 auto;
}