<div class="app-topbar">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-2">
            <h4 class="m-0">{{ titleKey | abpLocalization }}</h4>
        </div>
        <div class="d-flex align-items-center justify-content-between gap-2">
            <!-- Default search (keep it common across pages) -->
            @if (showSearch) {
            <div class="app-search-container">
                <input type="search" class="form-control form-control-sm" id="topbar-search-input"
                    name="topbar-search-input" [(ngModel)]="filters.filter"
                    [placeholder]="searchPlaceholder | abpLocalization" (keydown.enter)="filter()" />
                <i role="button" class="fas fa-search" (click)="filter()"></i>
            </div>
            }

            @if (showFiltersToggle) {
            <button class="btn btn-sm btn-outline-secondary text-nowrap" type="button" (click)="toggleFilters()">
                <i class="fas fa-filter"></i>
            </button>
            }

            <!-- SLOT #1: Actions (replaces Add New button area; supports many buttons) -->
            <ng-content select="[topbarActions]"></ng-content>
            @if (showBackButton) {
            <button class="btn btn-outline-secondary btn-sm" (click)="onBack.emit()">
                <i class="fa fa-arrow-left"></i> {{ backText | abpLocalization }}
            </button>
            }
        </div>
    </div>

    <!-- SLOT #2: Advanced Filters -->
    @if (showFiltersToggle) {
    <div class="p-2 border border-1 mt-2 rounded-1 app-topbar-filter-section" [class.collapsed]="!filtersVisible">
        <h5 class="mb-2">{{ filtersTitleKey | abpLocalization }}</h5>
        <div class="row row-cols-6">
            <ng-content select="[topbarFilters]"></ng-content>
            <div class="col d-flex align-items-end gap-2">
                @if(showResetFilters){
                <button (click)="reset()" type="reset" class="btn btn-sm btn-outline-primary">
                    <i class="fas fa-refresh"></i>
                    {{ '::Button:Reset' | abpLocalization }}
                </button>
                }
                @if(showApplyFilters){
                <button (click)="filter()" class="btn btn-sm btn-primary">
                    <i class="fas fa-filter"></i>
                    {{ '::Button:Filter' | abpLocalization }}
                </button>
                }
            </div>
        </div>

    </div>
    }
</div>

<!-- SLOT #3: Main page content -->
<div class="app-content">
    <ng-content></ng-content>
</div>