<abp-modal [(visible)]="visible" [options]="{ size: 'xl' }">
  <ng-template #abpHeader>
    {{ '::Notes' | abpLocalization }}
  </ng-template>

  <ng-template #abpBody>
    <form *ngIf="form" [formGroup]="form">
      <textarea class="form-control" rows="14" formControlName="notes"></textarea>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        {{ '::Close' | abpLocalization }}
      </button>

      <button
        type="button"
        class="btn btn-primary"
        [disabled]="!form || saving || !carId"
        (click)="save()"
      >
        <span *ngIf="saving" class="spinner-border spinner-border-sm me-2"></span>
        <i *ngIf="!saving" class="fa fa-save me-1"></i>
        {{ '::Save' | abpLocalization }}
      </button>
    </div>
  </ng-template>
</abp-modal>
